header
	.container
		.row
			.col-md-2.col-sm-2.col-xs-2
				a(href="https://mastervision.su", target="_blank").header-logo
			.col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-1
				.header-contacts
					a.contact.contact-tel(href="callto:+7 (925) 604 22 24" target="_blank")
						i.fa.fa-phone(aria-hidden="true")
						span +7 (925) 604 22 24
					//- a.contact.contact-skype(href="https://join.skype.com/invite/gkwrZmJPOtuf" target="_blank")
					//- 	i.fa.fa-skype(aria-hidden="true")
					//- 	span support-mastervision
					a.contact.contact-email(href="mailto:info@mv-centr.ru" target="_blank")
						i.fa.fa-envelope(aria-hidden="true")
						span info@mv-centr.ru
			.col-md-2.col-sm-3.col-xs-10
				.header-social
					a.header-social-link.header-social-link-yt(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
					a.header-social-link.header-social-link-insta(href="https://www.instagram.com/mastervision1/" target="_blank")
					a.header-social-link.header-social-link-tw(href="https://twitter.com/MastervisionEzo" target="_blank")
					a.header-social-link.header-social-link-fb(href="https://www.facebook.com/Mastervision1C/" target="_blank")
					a.header-social-link.header-social-link-vk(href="https://vk.com/mv_akademia" target="_blank")