header
	.container
		.row
			.col-md-2.col-sm-2
				a(href="https://mastervision.su", target="_blank").header-logo
			.col-md-4.col-sm-4.col-md-offset-4.col-sm-offset-4
				.header-contacts
					a.contact.contact-tel(href="callto:8-499-346-79-46" target="_blank")
						i.fa.fa-phone(aria-hidden="true")
						span 8-499-346-79-46
					//- a.contact.contact-skype(href="https://join.skype.com/invite/gkwrZmJPOtuf" target="_blank")
					//- 	i.fa.fa-skype(aria-hidden="true")
					//- 	span support-mastervision
					a.contact.contact-email(href="mailto:info@mastervision.su" target="_blank")
						i.fa.fa-envelope(aria-hidden="true")
						span info@mastervision.su
			.col-md-2.col-sm-2
				.header-social
					a.header-social-link.header-social-link-yt(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
					a.header-social-link.header-social-link-insta(href="https://www.instagram.com/mastervision1/" target="_blank")
					a.header-social-link.header-social-link-tw(href="https://twitter.com/MastervisionEzo" target="_blank")
					a.header-social-link.header-social-link-fb(href="https://www.facebook.com/Mastervision1C/" target="_blank")
					a.header-social-link.header-social-link-vk(href="https://vk.com/mv_akademia" target="_blank")