#about
	padding 60px 0 100px
	text-align center
.about-title
	font-size: 22px
	font-family: RS
	color #5C145D;
	margin-bottom: 30px
.about-text
	width 100%
	max-width 90%
	margin 0 auto
	font-size: 20px