#plan
	padding 0 0 100px
.plan-packet
	border: 3px solid #5C145D;
	border-radius: 15px;
	padding 40px
	margin-bottom: 40px
	&:last-of-type
		margin-bottom: 0
.plan-packet-title
	font-size: 26px
	font-family: RS
	margin-bottom: 30px
	small
		display block
		font-size: 22px
		font-family: OS
		margin-top: 20px
.plan-packet-list
	li
		font-family: OS
		font-weight: bold
		color #5C145D;
		margin-bottom: 15px
		list-style-position: inside
		&:last-child
			margin-bottom: 0
		span
			font-weight: normal
			color #000
.plan-packet-subtitle
	font-size: 22px
	font-family: RS
	text-transform uppercase
	margin-bottom: 30px
	small
		display block
		font-size: 22px
		font-family: OS
		text-transform none
		margin-top: 20px
.plan-packet-text
	margin-bottom: 15px
.plan-packet-img
	width 100%
	max-width 560px
	display block
	margin 50px auto 0