#technics
	padding 0 0 60px
.technic
	text-align center
	padding 200px 0 0
	background-repeat no-repeat
	background-position: top center
	background-size: auto 200px
	margin-bottom: 40px
	&-1
		background-image url(../img/images/technic-1.png)
	&-2
		background-image url(../img/images/technic-2.png)
	&-3
		background-image url(../img/images/technic-3.png)
	&-4
		background-image url(../img/images/technic-4.png)
	&-5
		background-image url(../img/images/technic-5.png)
	&-text
		&:before
			content: ''
			display block
			width 100px
			height 3px
			background-color: #5C145D;
			margin 20px auto 10px
