-full_1 = '15 900р.';
-full_2 = '27 900р.';
-full_3 = '40 900р.';

-link_1 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=39&clean=true&lg=ru';
-link_2 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=44&clean=true&lg=ru';
-link_3 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=49&clean=true&lg=ru';