.bots
	margin-top: 25px
	text-align center
.bots-link
	padding 70px 0 0
	font-size: 20px
	font-family: OS
	display inline-block
	background-repeat no-repeat
	background-position: top center
	background-size 60px 60px
	width 100%
	max-width 130px
	font-weight: bold
	transition: all .3s ease
	margin-top: 15px
	&-vk
		color #4A76A8
		background-image url(../img/icons/bot-vk.png)
		&:hover
			color #4A76A8
	&-fb
		color #2B479D
		background-image url(../img/icons/bot-fb.png)
		&:hover
			color #2B479D
	&-vb
		color #8E24AA;
		background-image url(../img/icons/bot-vb.png)
		&:hover
			color #8E24AA;
	&-tg
		color  #039BE5;
		background-image url(../img/icons/bot-tg.png)
		&:hover
			color  #039BE5;
	&:hover
		background-position: top 10px center