-var head_title = 'Вы зарегистрированы на мастер-класс «Секреты рун»';
-var styles = '../css/promo.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		section#main
			include pug/0.header.pug
			.container
				.main-container
					h1.main-title Вы зарегистрированы на мастер-класс 
						span «Секреты рун»
					a.button.button-thanks(href='https://drive.google.com/drive/folders/1adDZP22vl49gih56_Q-T0WeeZRRwt2ap?usp=sharing' target="_blank") Забрать рабочие тетради
					h3.main-subtitle Выбирайте Ваш любимый мессенджер, жмите на кнопку и забирайте бонус
						span БОНУС: «КАК СТАТЬ ЭНЕРГИЧНЫМ И БОДРЫМ ЗА 5 МИНУТ В ДЕНЬ»
					h3.main-subtitle P.S., перейдя в мессенджер в самом низу экрана, нажмите "Начать”
					include pug/bots/bots.pug
		include pug/0.footer.pug
		include pug/scripts/body_bottom_scripts