#Politics
	border-radius: 15px
	.modal-title
		font-size: 22px
		font-family: RS
		margin-bottom: 30px
		small
			display block
			font-size: 16px
			font-family: R
	p
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0