@media screen and (min-width 1900px)
	#main
		background-position: top -50% right 10%
		background-size: 700px
	#benefits
		background-position: center right 20px
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#main
		background-position: top -300% right 10%
		background-size: 900px
	.form-main
		margin-left: 0
	#benefits
		background-position: center right 450px
	.benefit
		max-width none
	.benefitantage-img
		margin-top: 200px
@media screen and (max-width 1199px)
	.contact-email
		margin 0 10px
	#benefits
		background-position: center right -250px
	.day-1
	.day-3
		background-position: right center
	.day-2
		background-position: left center
@media screen and (max-width 992px)
	.benefitantage-img
		margin 0 auto
		display block
	.for-item
		padding 330px 30px 30px
		background-position: top 30px center
		background-size: 300px
		text-align center
	.button-for
		margin-left: auto
	.day
		padding 330px 0 0
		background-position: top left
		background-size: 280px
		margin-bottom: 60px
	.day-bonus
		max-width none
	.gets
		padding 330px 0 0
		background-position: top center
		background-size: 280px
		text-align center
	#author
	#revs
		padding-bottom: 60px
	#last
		padding 60px 0
@media screen and (max-width 767px)
	header
		padding 10px 0
		margin-bottom: 0
	.header-contacts
		line-height: 1
	.contact-email
		margin 0 0 0 10px
	.header-social
		height 20px
		max-width 83%
		justify-content flex-end
		margin-top: 5px
		float: right
	.header-social-link
		margin-left: 10px
	#main
		text-align center
		padding 0 0 50px
	.form-main
		width 100%
	.input
		float:  none
		display block
		margin 0 auto 10px
	.form-title
		max-width none
	.button-form
		float none
	.checking
		max-width 350px
		margin 10px auto 0
	.main-img
	.benefitantage-img
		margin-top: 20px
	.benefit
		max-width none
		text-align center
		background-position: top center
		margin 0 auto 30px
		padding 70px 0 0
	#benefits
	#plan
	#get
	#author, #revs
		padding 0 0 50px
	.general-title
		font-size: 26px
		margin-bottom: 30px
	// .general-title-for
	// 	padding 0 15px
	// 	// margin-bottom: -30px
	#for
		padding 0 0 100px
	.for-items
		margin 0
	.form-title
		text-align center
	#Politics
		padding 20px
@media screen and (max-width 485px)
	.contact
		font-size: 13px
	#Politics .modal-title
		font-size: 22px
		margin-bottom: 20px
	#Politics p
		margin-bottom: 10px
	.main-title
		font-size: 36px
	.main-subtitle
		font-size: 20px
		margin-top: 0
	.form
		padding 20px
	.form-title
		font-size: 20px
		margin-bottom: 20px
	.benefit-title
		margin-bottom: 10px
	.general-title
		font-size: 24px
	.for-item
		padding 220px 0 0
		background-size: auto 180px
		background-position: top 20px center
	.for-item-title
		font-size: 18px
	.for-item-text
		font-size: 16px
	.for-item-text
		margin .5em 0 1em
	.day-title
		font-size: 18px
		margin-bottom: .5em
	.day-3
		margin-bottom: 40px
	.gets
		padding 310px 0 0
	.revs-text
		margin-bottom: 60px
	.last-title
		font-size: 24px
	.last-text
		font-size: 16px
		margin 1em 0 2em
@media screen and (max-width 385px)
	header
		.col-xs-10
			width 100%
	.header-logo
		width 80px
		height 38px
	.header-social
		max-width none
		float: none
	.header-social
		justify-content: center
		margin-top: -5px
	.header-social-link
		margin 0 4px
		&-fb
			margin 0
	.contact
		display block
		margin-bottom: 5px
	#Politics .modal-title
		font-size: 18px
		small
			font-size: 14px
	#Politics p
		font-size: 16px
	footer
		padding 10px 0
	.button
		font-size: 16px
	.main-title
		font-size: 26px
		margin-top: 10px
	.main-info
		margin-bottom: 1em
	.for-item
		margin 20px
		// box-shadow: none
		background-size:  auto 180px
	.general-title
		font-size: 22px
	.day
		background-size: auto 230px
		padding 250px 0 0
	.form-title
		font-size: 18px
	.author-text
		margin-bottom: 10px
	.revs-text-img
		height 100px
	.last-title
		font-size: 20px
	#last
		padding 60px 0 30px