#for
	padding 0 0 100px
// .for-items .slick-list
// 	padding 60px
.for-items
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.24);
	border-radius: 15px
	margin 60px
	.slick-list
		border-radius: 15px
	.slick-arrow
		bottom: -40px
.for-item
	padding 40px 500px 40px 40px
	background-repeat no-repeat
	background-position: top -100px right -100px
	background-size: 500px auto
	// box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.24);
	border-radius: 15px
	min-height 400px
	display flex !important
	flex-direction: column
	justify-content: center
	// margin 60px
	cursor: grab
	&-1
		background-image url('../img/images/for-1.png')
	&-2
		background-image url('../img/images/for-2.png')
	&-3
		background-image url('../img/images/for-3.png')
	&-4
		background-image url('../img/images/for-4.png')
	&-5
		background-image url('../img/images/for-5.png')
	&-6
		background-image url('../img/images/for-6.png')
	&-7
		background-image url('../img/images/for-7.png')
	&-8
		background-image url('../img/images/for-8.png')
	&-title
		font-size: 20px
		font-family: RS
	&-text
		font-family: OS
		margin .67em 0 1em
.button-for
	margin-left: 0
.slick-arrow
	top auto
	bottom: 20px
	z-index: 20;
	&:before
		color #5C145D
		opacity 1
.slick-prev
	left calc(50% - 30px)
.slick-next
	right calc(50% - 30px)