#get
	padding 0 0 100px
.gets
	padding 0 0 0 55%
	background-image url(../img/images/get.png)
	background-repeat no-repeat
	background-position: left top
	background-size contain
.gets-list
	li
		list-style none
		margin-bottom: 20px
		span
			display block
			font-size: 20px
			font-family: RS