#author
	padding 100px 0
.author-img
	width 100%
	max-width 560px
	display block
	margin -100px auto 0
.author-title
	font-size: 24px
	font-family: RS
	position relative
	text-transform: uppercase
	margin-bottom: 1em
	small
		font-size: 18px
		text-transform: none
		display block
	&:before
		content ''
		display block
		position absolute
		background-image url(../img/icons/rune-1.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
		left 0
		top -30px
		width 80px
		height 120px
	&:after
		content ''
		display block
		width 80px
		height 2px
		background-color: #5C145D
		margin-top: 1em
.author-text
	margin-bottom: 20px
	font-family: OS