#revs
	padding 0 0 100px
.revs-text
	margin-bottom: 100px
.revs-text-link
	background: #FFFFFF;
	border: 2px solid #5C145D;
	border-radius: 15px;
	// height 200px
	padding 20px
	object-fit: cover
	object-position: center
	// margin 0 50px
	display flex !important
	align-items: center
	justify-content: center
	transform: scale(.9)
	transform: all .3s ease
.revs-text-img
	height 170px
	// height 90%
	width 100%
	object-fit: contain
	offset-position: center
.revs
	.slick-arrow
		bottom: -35px
.video-wrapper-rev
	transform: scale(.9)
	transform: all .3s ease
	padding 20px
	&:after
		content none
.slick-center
	transform: scale(1)