.bots
	a.bots-link.bots-link-vk(href="https://bot.mastervision.su/bot/public/link?t=a&i=80&s=vk", target="_blank") VKontakte
	a.bots-link.bots-link-fb(href="", target="_blank") Messenger
	a.bots-link.bots-link-vb(href="https://bot.mastervision.su/bot/public/link?t=a&i=80&s=tg", target="_blank") Viber
	a.bots-link.bots-link-tg(href="https://bot.mastervision.su/bot/public/link?t=a&i=80&s=tg", target="_blank") Telegram