footer
	background-color #DFE9F1;
	padding 20px 0
	font-size: 14px
	text-align center
.conditions
	color rgba(0,0,0,.7)
	border-bottom: 1px dotted
	&:focus
		color rgba(0,0,0,.7)
		text-decoration none
	&:hover
		color rgba(0,0,0,.7)
		text-decoration none
		border-bottom: none