OS = 'OpenSans', sans-serif
R = 'Roboto', sans-serif
RS = 'RobotoSlab', serif

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot') format('embedded-opentype'),
		 url('../fonts/OpenSans.woff2') format('woff2'),
		 url('../fonts/OpenSans.woff') format('woff'),
		 url('../fonts/OpenSans.ttf') format('truetype'),
		 url('../fonts/OpenSans.png#OpenSans') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.eot');
	src: url('../fonts/Roboto.eot') format('embedded-opentype'),
		 url('../fonts/Roboto.woff2') format('woff2'),
		 url('../fonts/Roboto.woff') format('woff'),
		 url('../fonts/Roboto.ttf') format('truetype'),
		 url('../fonts/Roboto.png#Roboto') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab.eot');
	src: url('../fonts/RobotoSlab.eot') format('embedded-opentype'),
		 url('../fonts/RobotoSlab.woff2') format('woff2'),
		 url('../fonts/RobotoSlab.woff') format('woff'),
		 url('../fonts/RobotoSlab.ttf') format('truetype'),
		 url('../fonts/RobotoSlab.png#RobotoSlab') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}