header
	padding 20px 0
	margin-bottom: 20px
	overflow hidden
.header-logo
	width 100px
	height 48px
	background-image url(../img/images/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	display inline-block
.header-contacts
	text-align right
	line-height: 48px
.contact
	font-size: 16px
	color #000
	display inline-block
	&:focus
		color #000
		text-decoration: none
	&:hover
		color #000
		text-decoration: underline
	&-email
		margin 0 20px
.header-social
	height: 48px
	width 100%
	max-width 180px
	display flex
	align-items: center
	justify-content: space-between
.header-social-link
	width 20px
	height 20px
	background-repeat no-repeat
	background-position: center
	background-size contain
	transition: all .3s ease
	&-yt
		background-image url(../img/icons/yt.png)
	&-insta
		background-image url(../img/icons/insta.png)
	&-tw
		background-image url(../img/icons/tw.png)
	&-fb
		background-image url(../img/icons/fb.png)
	&-vk
		background-image url(../img/icons/vk.png)
	&:hover
		transform: translateY(-2px)