mixin benefit(cl,h4,p)
	.benefit(class=cl)
		h4.benefit-title=h4
		p.benefit-text=p

section#benefits
	.container
		.row
			.col-md-7
				.row
					.col-md-6.col-sm-6
						+benefit('benefit-1','РУНЫ - ИСТОЧНИК ДОХОДА','Руны - это не только решение повседневных вопросов. Это ваша будущая профессия с максимальной реализацией вашего потенциала')
					.col-md-6.col-sm-6
						+benefit('benefit-2','УГЛУБЛЕННОЕ ИЗУЧЕНИЕ РУН','Если вы уже являетесь опытным рунологом, то это ваш шанс увеличить поток клиентов и повысить свой доход в несколько раз')
				.row
					.col-md-6.col-sm-6
						+benefit('benefit-3','ДАННЫЙ МАСТЕР-КЛАСС','Является авторским')
					.col-md-6.col-sm-6
						+benefit('benefit-4','ВСЕ ПРАКТИКИ И РУНЕСКРИПТЫ','Если вы уже являетесь опытным рунологом, то это ваш шанс увеличить поток клиентов и повысить свой доход в несколько раз')
				.row
					.col-md-6.col-sm-6
						+benefit('benefit-5','ИСКЛЮЧИТЕЛЬНАЯ ЭФФЕКТИВНОСТЬ','данных методик подтверждена несколькими тысячами студентов, посетивших этот мастер класс')
					.col-md-6.col-sm-6
						+benefit('benefit-6','УНИКАЛЬНОСТЬ УПРАЖНЕНИЙ – В ЛЁГКОСТИ','усвоения для студентов любого уровня подготовки и высоком проценте успеха в применении')
			.col-md-5
				img.benefitantage-img(src="img/images/benefit.png", alt="Картинка блока")