mixin for(cl,h4,p)
	.for-item(class=cl)
		h4.for-item-title=h4
		p.for-item-text=p
		+b('button-for','#Modal','Измениться сейчас')

section#for
	.container
		+gt('general-title-for','ЭТОТ МАСТЕР-КЛАСС ДЛЯ ВАС, ЕСЛИ ВЫ ОТВЕТИТЕ «ДА» ХОТЯ БЫ НА ОДИН ВОПРОС')
		.for-items
			+for('for-item-1','ЧУВСТВУЕТЕ СЕБЯ ПОДАВЛЕННЫМ, БЕЗ ЭНЕРГИИ?','РУНИЧЕСКИЕ МЕДИТАЦИИ ПОМОГУТ ВОССТАНОВИТЬ ЭНЕРГИЮ, ВЕРНУТ ВАМ БОДРОСТЬ И ОПТИМИЗМ!')
			+for('for-item-2','НЕ СКЛАДЫВАЕТСЯ ЛИЧНАЯ ЖИЗНЬ?','УЗНАЙТЕ, ЧТО ТАКОЕ ЛЮБОВЬ С ПОМОЩЬЮ РУН И ВОЙДИТЕ В ПОТОК ЛЮБВИ И СЧАСТЬЯ!')
			+for('for-item-3','ПРОБЛЕМЫ НА РАБОТЕ?','ПРИМЕНИТЕ РУНИЧЕСКИЕ ТЕХНОЛОГИИ ДЛЯ ПРОДВИЖЕНИЯ ПО КАРЬЕРНОЙ ЛЕСТНИЦЕ!')
			+for('for-item-4','ВЕДЁТЕ СВОЙ БИЗНЕС?','СДЕЛАЙТЕ ЕГО ЕЩЁ БОЛЕЕ УСПЕШНЫМ С ПОМОЩЬЮ РУНИЧЕСКИХ ФОРМУЛ!')
			+for('for-item-5','НЕ ЗНАЕТЕ, ЗАЧЕМ ВЫ В ЭТОМ МИРЕ?','СПРОСИТЕ У РУН И ПОЛУЧИТЕ ОТВЕТ!')
			+for('for-item-6','ЕСТЬ ПРОБЛЕМЫ СО ЗДОРОВЬЕМ?','СДЕЛАЙТЕ СЕБЯ ЗДОРОВЫМ С ПОМОЩЬЮ ЭНЕРГИИ РУН!')
			+for('for-item-7','ДАВНО ПЫТАЕТЕСЬ РАБОТАТЬ С РУНАМИ, НО БЕЗРЕЗУЛЬТАТНО?','УЗНАЙТЕ, КАК ЭТО ДЕЛАТЬ ПРАВИЛЬНО!')
			+for('for-item-8','НИЧЕГО НЕ ЗНАЕТЕ О РУНАХ?','ПРИХОДИТЕ И ПОЛУЧИТЕ ЗНАНИЯ! ИНТЕНСИВ РАССЧИТАН КАК НА НОВИЧКОВ, ТАК И НА ОПЫТНЫХ РУНОЛОГОВ!')