section#get
	.container
		+gt('','ТЕ ЗНАНИЯ, КОТОРЫЕ ВЫ ПОЛУЧИТЕ НА ЭТОМ КУРСЕ ВМЕСТЕ С РУНИЧЕСКИМИ ПРАКТИКАМИ, ПОЗВОЛЯТ ВАМ:')
		.gets
			ul.gets-list
				li
					span ОСТАВАТЬСЯ
					| энергичным и бодрым в течение всего дня
				li
					span УВЕЛИЧИТЬ
					| вашу финансовую ёмкость и поправить финансовое положение
				li
					span ПРОДВИНУТЬСЯ
					| по карьерной лестнице или продвинуть свой бизнес
				li
					span ОЧИСТИТЬ
					| своё тело, эмоции и разум от негативных программ, стать более здоровым
				li
					span ВЫЙТИ НА СВЯЗЬ
					| с силами своей судьбы, осознать своё предназначение и обрести любовь