mixin ts(cl,p)
	.technic(class=cl)
		p.technic-text=p

section#technics
	.container
		+gt('','ОСНОВНЫЕ ТЕХНИКИ, КОТОРЫЕ БУДУТ НА КУРСЕ:')
		.row
			.col-md-4.col-sm-4
				+ts('technic-1','Использование рун, как способов работы с энергиями и направление энергий как внутрь себя, как и во внешнее пространство')
			.col-md-4.col-sm-4
				+ts('technic-2','Создание рунических мандал, как способ фиксации вашего воздействия на длительное время')
			.col-md-4.col-sm-4
				+ts('technic-3','Зарядка рун для усиления эффекта от воздействий')
		.row
			.col-md-4.col-sm-4.col-md-offset-2.col-sm-offset-2
				+ts('technic-4','Особые медитации, направленные на концентрацию внимания и глубинного изменения тела, эмоций, разума, что позволит многократно усилить эффект от воздействий')
			.col-md-4.col-sm-4
				+ts('technic-5','Рунические расклады - дают возможность не только диагностировать ситуации (“узнать все про всех”), но и скорректировать их')